@inherits LayoutComponentBase




<div class="h-screen overflow-hidden flex items-center justify-center" style="background: #edf2f7;">

    <nav class="flex items-center justify-between flex-wrap bg-grey-darkest p-6 fixed w-full z-10 pin-t">
        <NavMenu />
    </nav>
    @Body


</div>
