.m-local-custom{
    margin-top:8rem;
    margin-bottom: 1rem;

}

.h-local-custom{
    height:80vh;
}

.pt-7{
    padding-top:1.7rem
}

.h-local-custom-message-box{
    height: 10vh;

}

.w-15{
    width: 30vh;
}