@page "/addperson"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Add New Person</h3>

<input @bind="firstName" placeholder="sdgsdg" />
<input @bind="age" placeholder="sdgsdg" />
<button @onclick="@AddNew">Add</button>


@code {
    private string firstName;
    private int age;
    private string apiUrl = "http://localhost:5000/api/persons";

    private void AddNew()
    {
        var person = new CreatePerson { FirstName = firstName, Age = age };
        Http.PostJsonAsync(apiUrl, person);
// NavigationManager.NavigateTo("/personsdata", true);
    }

    public class CreatePerson
    {
        public string FirstName { get; set; }
        public int Age { get; set; }
    }
}
