@page "/"
@layout BasicLayout
@inject HttpClient Http

<h1>Hello, world!</h1>

Welcome to your new app.
<br /><button @onclick="checkUserStatus">yeee</button>


@code{
    private string apiUrl = "https://localhost:7000/api/users/";
    private async void checkUserStatus()
    {
        await Http.GetJsonAsync<string>($"{apiUrl}authentificate", "");
    }
}